<!DOCTYPE html>
<html lang="en">
<head lang="en" th:replace="fragments/header :: header">
</head>

<body class="body-wrapper">
	<!-- ====================================
  ——— PRELOADER
  ===================================== -->
	<div id="preloader" class="smooth-loader-wrapper">
		<div class="smooth-loader">
			<div class="loader">
				<span class="dot dot-1"></span> <span class="dot dot-2"></span> <span class="dot dot-3"></span> <span class="dot dot-4"></span>
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<!-- ====================================
    ——— HEADER
    ===================================== -->
		<header id="pageTop" class="header-wrapper">
			<!-- COLOR BAR -->
			<div class="container-fluid color-bar top-fixed clearfix">
				<div class="row">
					<div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
					<div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
					<div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
					<div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
					<div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
					<div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
					<div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
					<div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
					<div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
					<div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
					<div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
					<div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
				</div>
			</div>

			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="assets/img/logo-school.png" alt="Kidz School"></a>
					</div>
				</div>
			</nav>
		</header>

		<!--====================================
    ——— BANNER
    ===================================== -->
		<section class="bannercontainer bannercontainerV1">
			<div class="fullscreenbanner-container">
				<div class="fullscreenbanner">
					<ul>
						<li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1"><img src="assets/img/home/slider/slider-1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<div class="slider-caption container">
								<div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-y="200" data-speed="800" data-start="1000" data-easing="Back.easeInOut" data-endspeed="300">Kindergarten Website</div>

								<div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="265" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
									Kidz is a perfect theme for kindergarten school, very simple <br> and easy to use.
								</div>
							</div></li>
						<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2"><img src="assets/img/home/slider/slider-2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<div class="slider-caption container">
								<div class="tp-caption rs-caption-1 sft start text-center" data-hoffset="0" data-x="center" data-y="200" data-speed="800" data-start="1000" data-easing="Back.easeInOut" data-endspeed="300">Sell Kids Products</div>

								<div class="tp-caption rs-caption-2 sft text-center" data-hoffset="0" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
									All ecommerce features are included with KIDZ <br> Build your ecommerce site.
								</div>
							</div></li>
						<li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 3"><img src="assets/img/home/slider/slider-3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<div class="slider-caption container">
								<div class="tp-caption rs-caption-1 sft start text-right" data-hoffset="0" data-y="200" data-x="right" data-speed="800" data-start="1000" data-easing="Back.easeInOut" data-endspeed="300">Impress Your Clients</div>

								<div class="tp-caption rs-caption-2 sft text-right" data-hoffset="0" data-y="265" data-x="right" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">Kidz is created for better user experience in mind.</div>
							</div></li>
						<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2"><img src="assets/img/home/slider/slider-4.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<div class="slider-caption container">
								<div class="tp-caption rs-caption-1 sft start text-center" data-hoffset="0" data-x="center" data-y="200" data-speed="800" data-start="1000" data-easing="Back.easeInOut" data-endspeed="300">Bright Playful Colors</div>

								<div class="tp-caption rs-caption-2 sft text-center" data-hoffset="0" data-x="center" data-y="265" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
									Combination of bright and playful colors will help you <br> make users happy.
								</div>
							</div></li>
					</ul>
				</div>
			</div>
		</section>

		<!--====================================
    ——— MAIN SECTION
    ===================================== -->
		<section class="clearfix linkSection hidden-xs">
			<div class="sectionLinkArea hidden-xs scrolling">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 "></div>
						<div class="col-sm-3 ">
							<a href="#ourTeam" class="sectionLink bg-color-2" id="teamLink"> <i class="fa fa-paint-brush linkIcon border-color-2" aria-hidden="true"></i> <span class="linkText">Artists</span> <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
							</a>
						</div>
						<div class="col-sm-3 ">
							<a href="#ourGallery" class="sectionLink bg-color-3" id="galleryLink"> <i class="fa fa-picture-o linkIcon border-color-3" aria-hidden="true"></i> <span class="linkText">Gallery</span> <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
							</a>
						</div>
						<div class="col-sm-3 "></div>
					</div>
				</div>
			</div>
		</section>


		<!--====================================
    ——— WHITE SECTION
    ===================================== -->
		<section class="whiteSection full-width clearfix coursesSection " id="ourCourses">
			<div class="container"></div>
		</section>


		<!---====================================
    ——— COLOR SECTION
    ===================================== -->
		<section class="colorSection full-width clearfix bg-color-5 teamSection" id="ourTeam">
			<div class="container">
				<div class="sectionTitle text-center alt">
					<h2 class="wow fadeInUp">
						<span class="shape shape-left bg-color-3"></span> <span>Meet Our Artists</span> <span class="shape shape-right bg-color-3"></span>
					</h2>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="owl-carousel teamSlider">
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/kid-1.svg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Juliette</a>
										</h3>
										<p>English Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/kid-2.svg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Étienne</a>
										</h3>
										<p>History Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/kid-3.svg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Sacha</a>
										</h3>
										<p>Math Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/kid-4.svg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Ginette</a>
										</h3>
										<p>Languages Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/team-1.jpg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Jenny Bryan</a>
										</h3>
										<p>Sciences Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/team-2.jpg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Amanda Stone</a>
										</h3>
										<p>English Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/team-3.jpg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Oliver Gierke</a>
										</h3>
										<p>Religion Teacher</p>
									</div>
								</div>
							</div>
							<div class="slide wow fadeInUp">
								<div class="teamContent">
									<div class="teamImage">
										<img src="assets/img/home/team/team-4.jpg" alt="img" class="img-circle">
										<div class="maskingContent">
											<ul class="list-inline">
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="teamInfo">
										<h3>
											<a href="teachers-details.html">Peter Krumins</a>
										</h3>
										<p>Computer Teacher</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--====================================
    ——— PROMOTION SECTION
    ===================================== -->
		<section class="promotionWrapper " style="background-image: url(assets/img/home/promotion-1.jpg);">
			<div class="container">
				<div class="promotionInfo wow fadeInUp">
					<h2>Need More Information?</h2>
					<p>If you want to be part of the DevOps Kids artists then register!</p>
					<a href="contact-us.html" class="btn btn-primary"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a>
				</div>
			</div>
		</section>

		<!--====================================
    ——— WHITE SECTION
    ===================================== -->
		<section class="whiteSection full-width clearfix homeGallerySection" id="ourGallery">
			<div class="container">
				<div class="sectionTitle text-center">
					<h2 class="wow fadeInUp">
						<span class="shape shape-left bg-color-4"></span> <span>Our Gallery</span> <span class="shape shape-right bg-color-4"></span>
					</h2>
				</div>

				<div class="row">
					<div class="col-xs-12 ">
						<div class="filter-container isotopeFilters wow fadeInUp">
							<ul class="list-inline filter">
								<li class="active"><a href="#" data-filter="*">View All</a></li>
								<li><a href="#" data-filter=".charity">Charity</a></li>
								<li><a href="#" data-filter=".nature">nature</a></li>
								<li><a href="#" data-filter=".children">children</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row isotopeContainer" id="container">
					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity ">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_1.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_1.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature ">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_2.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_2.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature ">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_3.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_3.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_4.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_4.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_5.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_5.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children ">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_6.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_6.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_7.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_7.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children ">
						<article class="wow fadeInUp">
							<figure>
								<img src="assets/img/home/home_gallery/gallery_sm_8.jpg" alt="image" class="img-rounded">
								<div class="overlay-background">
									<div class="inner"></div>
								</div>
								<div class="overlay">
									<a data-fancybox="images" href="assets/img/home/home_gallery/gallery_lg_8.jpg"> <i class="fa fa-search-plus" aria-hidden="true"></i>
									</a>
								</div>
							</figure>
						</article>
					</div>
				</div>

				<div class="btnArea">
					<a href="photo-gallery.html" class="btn btn-primary">View more</a>
				</div>

			</div>
		</section>

		<footer th:replace="fragments/footer :: footer"></footer>
	</div>


	<div class="scrolling">
		<a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
	</div>

	<script src="assets/plugins/jquery/jquery-min.js"></script>
	<script src="assets/plugins/jquery-ui/jquery-ui.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="assets/plugins/waypoint/waypoints.min.js"></script>
	<script src="assets/plugins/counter-up/jquery.counterup.min.js"></script>
	<script src="assets/plugins/isotope/isotope.min.js"></script>
	<script src="assets/plugins/fancybox/jquery.fancybox.min.js"></script>
	<script src="assets/plugins/isotope/isotope-triger.js"></script>
	<script src="assets/plugins/countdown/jquery.syotimer.js"></script>
	<script src="assets/plugins/velocity/velocity.min.js"></script>
	<script src="assets/plugins/smoothscroll/SmoothScroll.js"></script>
	<script src="assets/plugins/wow/wow.min.js"></script>
	<script src="assets/js/app.js"></script>


</body>
</html>

